<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manuel Olmos Gil</title>

        <link rel="stylesheet" type="text/css" media="all" href="./fonts.css">
        <link href="./style.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    </head>

    <body>
      <div id="footer"></div>
      <section id="content">
        <div>
            <h4>
                <a href="http://federicocarrone.com/resume.pdf">PDF</a>
                /
                <a href="http://federicocarrone.com/resume.docx">DOCX</a></h4>
        </div>
            $body$
        </section>
        <div id="footer"></div>
    </body>
</html>
